@tailwind base;
@tailwind components;
@tailwind utilities;


html{
   font-family: 'Cormorant Garamond', serif;
}


@layer components {
 .main_grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:790px;

 }

 .left-sq{
    border-right: solid 2px #35373d;
    padding: 25px;
 }

 .right-sq{
    padding: 25px;
 }
}



p {
  line-height: 1.5;
}

/* //*CONTACT FORM */
#form-label {
   padding:  2px;
   margin-top: 20px;
 }
 
 /* //*FORM INPUT STYLES */
 .form-input {
   border: 1px solid #000;
   width: 500px;
   border-radius: 5px;
   padding: 5px 1px 5px 5px;
 }
     @media only screen and (max-width: 599px) {
    .form-input {
     width: 300px;
     }
   }
      @media only screen and (max-width: 399px) {
    .form-input {
     width: 250px;
     }
   }
 
 
 
 ._textShadow{
  text-shadow: 1px 1px 1px #35373d;
 }
 
 #message {
   height: 150px;
 }
 
 .error-msg {
   color: coral;
 }
 
 /* //*end FORM INPUT STYLES */